.carousel {
    width: 100%;
    height: 255px;
    object-fit: cover;
    border-radius: 10px;
}

h3 {
    position: relative;
    .number {
        display: none;
        color: white;
        text-align: center;
        position: absolute;
        bottom: 0 !important;
        width: 100%;
    }
}

.control-disabled {
    display: block !important;
}

.slick-dots {
    display: none !important;
}

.slick-next .slick-prev{
    z-index: 200;
    opacity: 1 !important;
    top: 0 !important;
    bottom: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.slick-next {
    right: 10px !important;
    &:before {
        content: ">" !important;
        font-size: 30px !important;
    }
}
.slick-prev {
    left: 10px !important;
    &:before {
        content: "<" !important;
        font-size: 30px !important;
    }
}

@media (min-width: 768px) {
    h3 {
        .number {
            display: block;
            font-size: 18px;
        }
    }
    .carousel {
        height: 415px;
    }

    .slick-prev {
        left: 70px !important;
        z-index: 200;
        opacity: 1 !important;
        top: 0 !important;
        bottom: 0 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
        &:before {
            font-size: 100px !important;
        }
    }
    .slick-next {
        right: 70px !important;
        z-index: 200;
        opacity: 1 !important;
        top: 0 !important;
        bottom: 0 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: auto !important;
        margin-bottom: auto !important;
        &:before {
            font-size: 100px !important;
        }
    }
}