.image {
    display: none;
}

.none {
    display: none;
}

.block {
    display: block;
}

.content-carousel {
    user-select: none;
    margin-top: 30px;
    position: relative;
    .image {
        img {
            width: 100%;
            object-fit: cover;
            height: 255px;
            border-radius: 10px;
        }
    }
    #prev, #next {
        position: absolute;
        bottom: 0;
        top: 0;
        display: flex;
        align-items: center;
        color: white;
        font-size: 20px;
    }
    #prev {
        left: 20px;
    }
    #next {
        right: 20px;
    }
    .number {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        color: white;
        display: none;
    }
}

@media (min-width: 768px) {
    .content-carousel{
        .image {
            img {
                height: 415px;
            }
        }
        #prev, #next {
            font-size: 50px;
        }
        .number {
            display: block;
        }
    }
}