.content_logement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    .content_presentation {
        display: flex;
        width: 100%;
        .presentation {
            width: 100%;
            .title {
                font-size: 18px;
                text-align: left !important;
                color: #FF6060;
                margin: 0;
            }
            h2 {
                color: #FF6060;
                font-size: 14px;
            }
        }
    }
    .content_info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bloc-host {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .name {
                font-size: 12px;
            }
        }
    }
}

.content_detail {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .content_logement {
        flex-direction: row;
        .content_presentation {
            width: 65%;
            .presentation {
                .title {
                    font-size: 36px;
                }
                h2 {
                    font-size: 18px;
                }
            }
        }
        .content_info {
            width: 35%;
            flex-direction: column-reverse;
            justify-content: flex-end;
            align-items: flex-end;
            .bloc-host {
                .name {
                    font-size: 18px;
                }
            }
        }
    }

    .content_detail {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1100px) {
    .content_logement {
        .content_presentation {
            width: 75%;
        }
        .content_info {
            width: 25%;
        }
    }
}