h1 {
    text-align: center;
    font-size: 96px;
    color: #FF6060;
    margin-bottom: 0;
    text-align: center !important;
}

.message {
    text-align: center;
    color: #FF6060;
    font-size: 18px;
}

.bloc_lien {
    display: flex;
    justify-content: center;
    .lien {
        color: #FF6060;
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 288px;
    }
    .message {
        font-size: 36px;
    }
    .bloc_lien {
        .lien {
            font-size: 18px;
        }
    }
}