.content-rating {
    width: 100%;
}
.bloc-star {
    width: 50%;
    display: flex;
    .star {
        font-size: 20px;
        margin-right: 5px;
    }
    .on {
        color: #FF6060;
    }
    .off {
        color: #ccc;
    }
}

@media (min-width: 768px) {
    .bloc-star {
        justify-content: flex-end;
        margin-top: 30px;
        .star {
            margin-right: 10px;
        }
    }
}